{% extends "menubarra.html" %}

{% block main %}

<section id="main-content">
  <section class="wrapper site-min-height">
    <h3><i class="fa fa-angle-right"></i> Blank Page</h3>
    <div class="row mt">
      <div class="col-lg-12">
        <p>Place your content here.</p>
        <button type="button"  class="btn btn-success float-right"
          data-toggle="modal" data-target="#mymodal">Agregar</button>
      
      </div>
    </div>
  </section>
  <!-- /wrapper -->
</section>

<div id="mymodal" class="modal fade" role="dialog">
  <div class="modal-dialog">
     <div class="modal-content">
        <div class="modal-header">

           <h4 class="modal-title">Add User</h4>
        </div>
        <div class="modal-body">

           <form action="{{url_for('new_user')}}" method="POST">


              <div class="form-group">

                 <label>Name:</label>
                 <input type="text" class="form-control" name="name" required="1">


              </div>


               <div class="form-group">


                 <label>Email:</label>
                 <input type="email" class="form-control" name="email" required="1">


              </div>


               <div class="form-group">


                 <label>Phone:</label>
                 <input type="number" class="form-control" name="phone" required="1">


              </div>



              <div class="form-group">


                 <button class="btn btn-primary" type="submit">Add Employee</button>


              </div>


           </form>


        </div>


        <div class="modal-footer">


           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>


        </div>


     </div>


  </div>
</div>

{% endblock %}

<script src="{{ url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>

<script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
<script class="include" type="text/javascript" src="{{ url_for('static', filename='lib/jquery.dcjqaccordion.2.7.js')}}"></script>
<script src="{{ url_for('static', filename='lib/jquery.scrollTo.min.js')}}"></script>
<script src="{{ url_for('static', filename='lib/jquery.nicescroll.js')}}" type="text/javascript"></script>
<script src="{{ url_for('static', filename='lib/jquery.sparkline.js')}}"></script>
<!--common script for all pages-->
<script src="{{ url_for('static', filename='lib/common-scripts.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/gritter/js/jquery.gritter.js')}}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='lib/gritter-conf.js')}}"></script>
<!--script for this page-->
<script src="{{ url_for('static', filename='lib/form-validation-script.js')}}"></script>
