{% extends "menubarra.html" %}

{% block main %}
    <section id="main-content">
      <section class="wrapper site-min-height">
        <h3><i class="fa fa-angle-right"></i> Dashboard</h3>
        <hr/>
        <div class="row mt">
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
                    <a class="fancybox" href="{{ url_for('static', filename='img/librenms.jpg')}}"><img class="img-responsive" src="{{ url_for('static', filename='img/librenms.jpg')}}" alt=""></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- col-lg-4 -->
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
                    <a class="fancybox" href="img/portfolio/port05.jpg"><img class="img-responsive" src="{{ url_for('static', filename='img/librenms.jpg')}}" alt=""></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- col-lg-4 -->
          <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12 desc">
            <div class="project-wrapper">
              <div class="project">
                <div class="photo-wrapper">
                  <div class="photo">
                    <a class="fancybox" href="img/portfolio/port06.jpg"><img class="img-responsive" src="{{ url_for('static', filename='img/librenms.jpg')}}" alt=""></a>
                  </div>
                  <div class="overlay"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- col-lg-4 -->
        </div>        
      </section>       
    </section> 
{% endblock %}  