{% extends "barra.html" %}

{% block container %}
  <div class="jumbotron" style="position:relative;top:50px; background-color:aliceblue; text-align:center " >
      <h1 style="color:black">¡Bienvenido a {{conf.titulo}}!</h1>
      <p style="color:black" class="lead">{{conf.descripcion}}</p>
  </div>
  <hr style="position:relative;top:20px"/>
  <div class="jumbotron" style="text-align:center;background-color:white">
    <i class="fas fa-info-circle" style="font-size:50px; color:#4ecdc4"></i>
    <h2>¿De qué trata este Sitio Web?</h2>
    <p>A raíz de la situación mundial que se está viviendo actualmente, buscar información sobre Centros de ayuda no es tan fácil.</p>
    <p>Ende, decidimos facilitar la búsqueda de tu Centro más cercano.</p>
    <p>Desde ropa y alimentos, hasta donación de sangre y plasma.</p>
  </div>
  <hr/>
  <div class="jumbotron" style="text-align:center;background-color:white">
    <i class="fas fa-hand-holding-medical" style="font-size:50px; color:#4ecdc4"></i>
    <h2>¿Cómo puedo donar?</h2>
    <p>Donar es muy fácil.</p>
    <p>Simplemente hacé click en el botón para encontrar tu Centro más cercano y seguí los pasos.</p>
    <button type="button" class="btn btn-primary" style="font-size:30px;background-color:#4ecdc4;position:relative;top:20px;">Doná acá</button>
  </div>
  <hr/>
    <div class="jumbotron" style="text-align:center;background-color:white">
    <i class="fas fa-hand-holding-heart" style="font-size:50px; color:#4ecdc4"></i>
    <h2>Necesito una mano, ¿Dónde encuentro un Centro?</h2>
    <p>Ayudarte también es fácil.</p>
    <p>Hacé click en el botón de abajo y seguí los pasos.</p>
    <button type="button" class="btn btn-primary" style="font-size:30px;background-color:#4ecdc4;position:relative;top:20px;">Necesito una mano</button>
  </div>
{% endblock %}
